:root {
    --theme-color: #1995AD;
    --theme-bg-color1: #ffffff;
    --theme-bg-color2: #f4f4f4;
    --primary-font-color:#000000;
    --secondary-font-color:#ffffff;
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-font-color);
}

nav {
    padding: 10px 25px;
    display: flex;
    justify-content: right;
    gap: 25px;
    border-radius: 10px;
    z-index: 1000;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: #058EB0;
    transform: scale(1.1);
    box-shadow: 4px 9px 18px rgba(0, 0, 0, 0.3);
    padding: 2px 20px;
}

nav a i {
    font-size: 16px;
}

.social-block{
    margin-top: 10px;
    display: flex !important;
}

.resume-btn {
    background-color: var(--theme-color);
    color: var(--secondary-font-color);
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 40px;
    transition: 0.3s ease-in;
}

.resume-btn:hover {
    transform: scale(1.01);
    box-shadow:var(--theme-color) 0px 4px 6px;

}

.social-block{
    margin-left: 20px;
    display: inline-block;
    float: left;
}

.social-icons-block {
    font-size: 2em;
    color: var(--theme-color);
    margin-left: 10px;
}

.social-icons{
    margin-left: 15px;
    background-color: white;
    box-shadow:var(--theme-color) 0px 4px 6px;
    padding: 4px 4px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    transition: 0.3s ease-in;
    opacity: 1 !important;
}

.social-icons:hover {
    color: #058EB0; /* Different hover color */
    transform: scale(1.2);
}


header {
    background: var(--theme-color);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 80px;
}

/* Home container starts */
#home {
    background: var(--theme-bg-color1);
    color: #212121;
}

.home-container {
    max-width: 900px;
}

.bio-text{
    font-size: 1.25rem;
    font-weight: 400;
}

.profile-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-img:hover {
    box-shadow: 0px 0px 15px var(--theme-color);
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

.profile-image-container {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 220px;
    height: 220px;
    background: url('../assets/images/brush1.png') no-repeat center/contain;
    z-index: 1;
}

[data-aos] {
    will-change: opacity, transform;
    z-index: 0;
}


.bio {
    letter-spacing: 1px;
    color: #5F6F81;
    font-size: 1rem;
    min-width: 250px;
    line-height: 1.4;
}

.fname-text {
    color: #000000;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 24px 0;
}

.lname-text {
    color: rgb(5, 118, 174);
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 24px 0;
}

/*Home container ends*/


#about,
#skills,
#projects,
#contact {
    background: var(--theme-bg-color2);
}

.container {
    max-width: 800px;
    text-align: center;
}

.icons i {
    font-size: 30px;
    margin: 10px;
    transition: 0.3s;
}

.icons i:hover {
    color: #007bff;
}

.btn {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background: #0056b3;
}